{% extends 'main.html'%}
{% block content %}

<h2>AI Knowledge Base</h2>

<h3>Documents</h3>

<ul>
{% for file in files %}
    <li>{{ file }}</li>
{% empty %}
    <li>No documents found</li>
{% endfor %}
</ul>
------------------------------------------------------------------
<h2>AI Document Assistant</h2>

<input id="question" placeholder="Ask a question..." style="width:300px;">
<button onclick="askAI()">Send</button>

<div id="chat"></div>

<script>

async function askAI(){

    let question = document.getElementById("question").value;

    let response = await fetch("/chat/",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body: JSON.stringify({
            message:question
        })
    });

    let data = await response.json();

    let chat = document.getElementById("chat");

    chat.innerHTML += "<p><b>You:</b> "+question+"</p>";
    chat.innerHTML += "<p><b>AI:</b> "+data.response+"</p>";

}

</script>



{% endblock content %}